{% extends "base.html" %}

{% block style %}
<style>
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
</style>
{% endblock style %}

{% block content %}
<script src="https://js.stripe.com/v3/"></script>
<div class="row d-flex justify-content-center no-gutters">
    <div class="col-md-6 order-md-last ftco-animate makereservation p-4 p-md-5 pt-5">
        <div class="py-md-5">
          <div class="heading-section ftco-animate mb-5 text-center">
          <h2 class="mb-4">Checkout With Card</h2>
            <h3> Amount : RM {{ order.booking.booking_fee }}</h3>
        </div>
        <form action="{% url 'checkout' %}" method="post" id="payment-form">
            {% csrf_token %}
            <div class="form-row">
                <div class="text-center">
                  <label for="card-element">
                   <b> Credit or debit card </b>
                  </label>
                </div>
                <div id="card-element" class="w-100">
                <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
            </div>
            <div class="row text-center mt-5">
              <button class="btn btn-info w-100" id="card-button" data-secret="{{ client_secret }}">Submit</button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
    // Create a Stripe client.
var stripe = Stripe('pk_test_51GvhRuJF8iLkitspZcB0Ly2dPfx9kTplsgRHncdPR8yrxEnG8OHrRACt0bA3oUGuZEYInlF22Peru1ZJAA6OzZGf00oFbGeauJ');

// Create an instance of Elements.
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
  base: {
    color: '#32325d',
    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#aab7c4'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the customer that there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
        
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});

function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}
</script>
{% endblock javascript %}